.content {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;

  .messageList {
    height: 90%;
    overflow: auto;
    padding-bottom: 20px;

    .scroll-list {}
  }

  .inputArea {
    
  }
}