$primary-color: #8f8f94;
$font-size: 36rpx;
$margin-top: 200rpx;
$margin-bottom: 50rpx;
$logo-size: 200rpx;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: $logo-size;
  width: $logo-size;
  margin-top: $margin-top;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $margin-bottom;
}

.text-area {
  display: flex;
  justify-content: center;
}

.title {
  font-size: $font-size;
  color: $primary-color;
}