.content {
    height: 100vh;
    width: 100vw;
    // background-color:#eae4e4;
}

.week-item {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background-color: #fff;
    margin-bottom: 6px;

    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 0;
        border-bottom: 1px solid #d6d7d9;
        transform: scaleY(0.5);
        transform-origin: bottom;
    }
}